.command-buttons {
  text-align: right;
  margin-bottom: 1rem !important;

  button:first-child {
    margin: 0px;
    float: left;
  }

  button {
    margin-left: 5px;
    margin-bottom: 5px;
  }
}

.server-number-container {
  text-align: center;
}

.server-number-header {
  background-color: inherit;
  padding-left: 16px;
  padding-right: 16px;
  color: rgba(0, 0, 0, 0.54);
  font-size: 0.875rem;
  box-sizing: border-box;
  list-style: none;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 48px;
}
