.QueueList {
  background-color: #3f51b52b;
  padding: 5px;
  margin: 0 !important;
  max-height: calc(100vh - 60px);
  min-height: calc(100vh - 60px);
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-around;
  overflow: auto;

  @media screen and (max-width: 600px) {
    max-height: calc(100vh - 120px);
  }

  .item {
      padding: 5px;;
  }
}
